@charset "utf-8";
/* CSS Document */
body{
	background-color:#fff;
}

.pow_content{
	overflow:hidden;
	min-height:400px;
}

.pow_main_box{
	overflow:hidden;
	padding:10px;
}

.pow_box{
	overflow:hidden;
	border:1px solid #d8d8d8;
	background-color:#fff;
	border-radius:6px;
}

.pow_input_box{
	overflow:hidden;
	height:44px;
	border-bottom:1px solid #d8d8d8;
}
.pow_input_box:last-child{
	border-bottom:0;
}
.pow_tit{
	padding:7px 7px 0 0;
	float:left;
	height:44px;
	box-sizing:border-box;
	font-size:14px;
	color:#333;
	width:66px;
	text-align:right;
	line-height:30px;
}

.pow_input,
.pow_code_input,
.pow_eye_input{
	overflow:hidden;
	padding:0 0 0 7px;
	margin:9px 7px 0 66px;
	height:26px;
	border-left:1px solid #d8d8d8;
}
.pow_code_input{
	margin:9px 104px 0 66px;
}
.pow_eye_input{
	margin:9px 44px 0 66px;
}
.pow_input input,
.pow_code_input input,
.pow_eye_input input{
	margin:0;
	padding:0;
	width:100%;
	height:26px;
	border:0;
	background-color:#fff;
	font-size:14px;
	color:#333;	
}

.pow_code_but{
	margin:7px 7px 0 0;
	display:inline;
	float:right;
	height:30px;
	width:90px;
	background-color:#f6f6f6;
	border:1px solid #d8d8d8;
	font-size:14px;
	color:#808080;
	text-align:center;
	line-height:30px;
	box-sizing:border-box;
}

.pow_eye_but{
	float:right;
	width:44px;
	height:44px;
	background-image:url(../images/icons/eye_icon_1.png);
	background-repeat:no-repeat;
	background-position:center center;
	background-size:19px auto;
}

.pow_eye_but.hover{
	background-image:url(../images/icons/eye_icon_2.png);
}





















