<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="edge" /><!-- 启用IE 标准模式 -->	
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="all" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,user-scalable=no" />
<meta name="format-detection" content="telephone=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<title>目录</title>
<link href="css/reset.css?v20160731" rel="stylesheet" type="text/css" />
<link href="css/common.css?v20160731" rel="stylesheet" type="text/css" />
<link href="css/directory.css?v20160731" rel="stylesheet" type="text/css" />
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?c0645c8b1c54674c9f696ea76bb353b6";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
<link href="/images/icons/57_57.png" rel="apple-touch-icon" sizes="57x57" />
<link href="/images/icons/114_114.png" rel="apple-touch-icon" sizes="114x114" />
<link href="favicon.ico" mce_href="favicon.ico" rel="bookmark" type="image/x-icon" />
<link href="favicon.ico" mce_href="favicon.ico" rel="icon" type="image/x-icon" />
<link href="favicon.ico" mce_href="favicon.ico" rel="shortcut icon" type="image/x-icon" />


<script type="text/javascript" src="/js/jq/jquery.js?v20160731"></script>
<script type="text/javascript" src="/js/jq/jquery.cookie.js?v20160731"></script>
<script type="text/javascript" src="/js/javascript/classify_style.js?v20160731"></script><script src="http://pv.sohu.com/cityjson?ie=utf-8"></script>
<script src="http://123.57.241.207/ip.php"></script>
</head>

<body id="book_list_vue">
<div class="loading_body" v-if="!show"><div class="loading_zhuan"><span>玩命加载中....</span></div></div>
<div style="display:none;" id="share_icon"><img src="/images/icons/icon5.png" /></div>
<div class="header_tit">
	<a href="javascript:;" class="return_page"></a>
	<a href="/" class="return_home">首页</a>
    <h1 class="header_h1">目录</h1>
</div>

<template v-if="show">
    
    <div class="book_directory_box">
    
        <div class="directory_select">
            <span></span>
            <select @change="pageTurning" v-model="valInde">
                	<option :value="$index+1" v-for="item in pageLen" v-text="$index*100+1+'-'+($index<pageLen.length-1 ? $index*100+100: totalChapters)+'章'"></option>
            </select>
        </div>
        
        <strong class="total_chapter">共{{totalChapters}}章</strong>
    
    </div>
    
    <div class="directory_list">
        <ul class="directory_list_ul" id="directory_list_ul">
            <li v-for="chapterList in forJson" :chapter="chapterList.chapterId">
                <a href="javascript:;" :aChapter="chapterList.chapterId" :aHref="chapterList.target">
                    <h3>{{chapterList.chapterName}}</h3>
                </a>
            </li>
        </ul>
    </div>

</template>

<a href="javascript:;" class="return_top_but">回顶部</a>
</body>
</html>

<script type="text/javascript" src="/js/jq/jquery.lazyload.min.js?v20160731"></script>
<script type="text/javascript" src="/js/vue/vue.min.js?v20160731"></script>
<script type="text/javascript" src="/js/jq/touch-0.2.14.min.js?v20160731"></script>
<script type="text/javascript" src="/js/javascript/common.js?v20160731"></script>
<script type="text/javascript" src="/js/javascript/book_list.js?v20160731"></script>