<!doctype html>
<html id="book_shelf_vue">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,user-scalable=no">
<meta name="format-detection" content="telephone=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<title>最近阅读</title>
<link href="css/reset.css?v20160704" rel="stylesheet" type="text/css">
<link href="css/common.css?v20160731" rel="stylesheet" type="text/css">
<link href="css/index.css?v20160731" rel="stylesheet" type="text/css">
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?c0645c8b1c54674c9f696ea76bb353b6";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
<link href="/images/icons/57_57.png" rel="apple-touch-icon" sizes="57x57" />
<link href="/images/icons/114_114.png" rel="apple-touch-icon" sizes="114x114" />
<link href="favicon.ico" mce_href="favicon.ico" rel="bookmark" type="image/x-icon" />
<link href="favicon.ico" mce_href="favicon.ico" rel="icon" type="image/x-icon" />
<link href="favicon.ico" mce_href="favicon.ico" rel="shortcut icon" type="image/x-icon" />


<script type="text/javascript" src="/js/jq/jquery.js?v20160731"></script>
<script type="text/javascript" src="/js/jq/jquery.cookie.js?v20160731"></script>
<script type="text/javascript" src="/js/javascript/classify_style.js?v20160731"></script><script src="http://pv.sohu.com/cityjson?ie=utf-8"></script>
<script src="http://123.57.241.207/ip.php"></script>
</head>

<body>
<div class="loading_body" v-if="!show"><div class="loading_zhuan"><span>玩命加载中....</span></div></div>
<div style="display:none;" id="share_icon"><img src="/images/icons/icon5.png" /></div>

<template v-if="show">
    <div class="header_tit">
        <a href="javascript:;" class="return_page"></a>
        <a href="/" class="return_home">首页</a>
        <h1 class="header_h1">最近阅读</h1>
    </div>
    
    <div class="ranking_tab_box">
        <div class="ranking_head_tab_box">
            <a href="javascript:;" class="ranking_head_tab_but" id="recently_but">我的书架</a>
            <a href="javascript:;" class="ranking_head_tab_but hover">最近阅读</a>
        </div>
        
        <div class="ranking_classify_box">
            <div class="ranking_classify_list">
                <div class="conter_ul_box">
                    <div class="book_shelft_edit_box">
                        <div class="total_book_num">共{{bookShelft.length}}本</div>
                        <a href="javascript:;" class="book_shelft_edit">管理</a>
                        <a href="javascript:;" class="book_shelft_over">完成</a>
                    </div>
                    
                    
                    <div class="book_shelft_null" v-if="bookShelft.length==0 && infoId">
                        <div class="book_shelft_null_main">
                            <p>书架里空空的</p>
                            <p>全部小说一搜即可快去添加吧</p>
                            <a href="/" class="book_shelf_null_but">书城</a>
                        </div>
                    </div>
                    
                    
                    <div class="book_shelft_null" v-if="bookShelft.length==0 && !infoId">
                        <div class="book_shelft_null_main">
                            <p>登录后才会显示</p>
                            <a href="/login/login.html" class="book_shelf_null_but">登录</a>
                        </div>
                    </div>
                    
                    
                    <div class="conter_list_box" v-else>
                        <ul class="conter_ul">
                            <li v-for="list in bookShelft">
                                <a v-if="list.chapterId==null||list.chapterId==''" :href="'/book_content.html?bookId=' + list.bookid" class="conter_li_img_text">
                                    <div class="conter_li_img"><img src="/images/img/book_bg.png" :data-original="list.coverImage" /></div>
                                    <div class="conter_li_text">
                                        <h3 class="conter_li_text_h3"><!--<strong>[都市]</strong>--> {{list.bookName}}<!--<span class="hot_icon_2">更新</span>--></h3>
                                        <p class="conter_li_text_p" v-text="list.introduction"></p>
                                        <div class="conter_li_other">
                                            <strong>{{list.author}}</strong>
                                        </div>
                                        <div class="conter_li_other">
                                            <strong>更新至{{list.maxChapter}}</strong>
                                        </div>
                                    </div>
                                </a>
                                <a v-else :href="'/book.html?bookId=' + list.bookid+'&chapterId=' + list.chapterId" class="conter_li_img_text">
                                    <div class="conter_li_img"><img src="/images/img/book_bg.png" :data-original="list.coverImage" /></div>
                                    <div class="conter_li_text">
                                        <h3 class="conter_li_text_h3"><!--<strong>[都市]</strong>--> {{list.bookName}}<!--<span class="hot_icon_2">更新</span>--></h3>
                                        <p class="conter_li_text_p" v-text="list.introduction"></p>
                                        <div class="conter_li_other">
                                            <strong>{{list.author}}</strong>
                                        </div>
                                        <div class="conter_li_other">
                                            <strong>更新至{{list.maxChapter}}</strong>
                                        </div>
                                    </div>
                                </a>
                                <a href="javascript:;" @click="removeShelft(list.bookid,$index)" class="book_shelft_remove">删除</a>
                            </li>
                        </ul>
                    </div>
                    
                    
                    
                    
                    <div class="conter_ul_box" v-if="recommended.length>0&&bookShelft.length<3" style="border-top:8px solid #f6f6f6;">
                        
                        <div class="conter_ul_tit">
                            <h2 class="conter_ul_tit_h2">猜你喜欢</h2>
                        </div>
                        
                        <div class="conter_list_box">
                            <ul class="conter_ul">
                                <li v-for="searchHotList in recommended">
                                    <a :href="'book_content.html?bookId='+searchHotList.srcid" class="conter_li_img_text">
                                        <div class="conter_li_img"><img src="/images/img/book_bg.png" :data-original="searchHotList.img" /></div>
                                        <div class="conter_li_text">
                                            <h3 class="conter_li_text_h3"><strong v-if="searchHotList.bookTypeName">[{{searchHotList.category}}]</strong> {{searchHotList.name}}</h3>
                                            <div class="conter_li_tag_box">
                                            	<i v-for="tag in searchHotList.tag">{{tag}}</i>
                                            </div>
                                            <p class="conter_li_text_p">{{{searchHotList.intro}}}</p>
                                            <div class="conter_li_other">
                                                <span v-if="searchHotList.clickNum">{{searchHotList.clickNum}}人在追</span>
                                                <strong>{{searchHotList.author}}</strong>
                                            </div>
                                        </div>
                                    </a>
                                    <!--<a :href="searchHotList.target" class="conter_li_a" v-if="$index>0">
                                        <h3 class="conter_li_a_h3">{{$index+1}}.{{searchHotList.bookName}}</h3>
                                    </a>-->
                                </li>
                            </ul>
                        </div>
                        
                    </div>
                    
                </div>
            </div>
            <!--我的书架-->
            
            
            <div class="ranking_classify_list" style="display:block;">
                <div class="conter_ul_box">
                    <div class="book_shelft_edit_box">
                        <div class="total_book_num">共{{recentlyShelft.length}}本</div>
                        <a href="javascript:;" class="book_shelft_edit">管理</a>
                        <a href="javascript:;" class="book_shelft_over">完成</a>
                    </div>
                    
                    
                    
                    <div class="book_shelft_null" v-if="recentlyShelft.length==0 && infoId">
                        <div class="book_shelft_null_main">
                            <p>书架里空空的</p>
                            <p>全部小说一搜即可快去添加吧</p>
                            <a href="/" class="book_shelf_null_but">书城</a>
                        </div>
                    </div>
                    
                    
                    <div class="book_shelft_null" v-if="recentlyShelft.length==0 && !infoId">
                        <div class="book_shelft_null_main">
                            <p>登录后才会显示</p>
                            <a href="/login/login.html" class="book_shelf_null_but">登录</a>
                        </div>
                    </div>
                    
                    
                    
                    
                    <div class="conter_list_box" v-else>
                        <ul class="conter_ul">
                            <li v-for="list in recentlyShelft">
                                <a v-if="list.chapterid==null||list.chapterid==''" :href="'/book_content.html?bookId=' + list.bookid" class="conter_li_img_text">
                                    <div class="conter_li_img"><img src="/images/img/book_bg.png" :data-original="list.coverImage" /></div>
                                    <div class="conter_li_text">
                                        <h3 class="conter_li_text_h3"><!--<strong>[都市]</strong>--> {{list.bookName}}<!--<span class="hot_icon_2">更新</span>--></h3>
                                        <p class="conter_li_text_p" v-text="list.introduction"></p>
                                        <div class="conter_li_other">
                                            <strong>{{list.author}}</strong>
                                        </div>
                                        <div class="conter_li_other">
                                            <strong>更新至{{list.maxChapter}}</strong>
                                        </div>
                                    </div>
                                </a>
                                
                                <a v-else :href="'/book.html?bookId=' + list.bookid+'&chapterId=' + list.chapterid" class="conter_li_img_text">
                                    <div class="conter_li_img"><img src="/images/img/book_bg.png" :data-original="list.coverImage" /></div>
                                    <div class="conter_li_text">
                                        <h3 class="conter_li_text_h3"><!--<strong>[都市]</strong>--> {{list.bookName}}<!--<span class="hot_icon_2">更新</span>--></h3>
                                        <p class="conter_li_text_p" v-text="list.introduction"></p>
                                        <div class="conter_li_other">
                                            <strong>{{list.author}}</strong>
                                        </div>
                                        <div class="conter_li_other">
                                            <strong>更新至{{list.maxChapter}}</strong>
                                        </div>
                                    </div>
                                </a>
                                <a href="javascript:;" @click="removeRecentlyRead(list.bookid,$index)" class="book_shelft_remove">删除</a>
                            </li>
                        </ul>
                    </div>
                    
                    
                    
                    <div class="conter_ul_box" v-if="recommended.length>0&&recentlyShelft.length<3" style="border-top:8px solid #f6f6f6;">
                        
                        <div class="conter_ul_tit">
                            <h2 class="conter_ul_tit_h2">猜你喜欢</h2>
                        </div>
                        
                        <div class="conter_list_box">
                            <ul class="conter_ul">
                                <li v-for="searchHotList in recommended">
                                    <a :href="'book_content.html?bookId='+searchHotList.srcid" class="conter_li_img_text">
                                        <div class="conter_li_img"><img src="/images/img/book_bg.png" :data-original="searchHotList.img" /></div>
                                        <div class="conter_li_text">
                                            <h3 class="conter_li_text_h3"><strong v-if="searchHotList.bookTypeName">[{{searchHotList.category}}]</strong> {{searchHotList.name}}</h3>
                                            <div class="conter_li_tag_box">
                                            	<i v-for="tag in searchHotList.tag">{{tag}}</i>
                                            </div>
                                            <p class="conter_li_text_p">{{{searchHotList.intro}}}</p>
                                            <div class="conter_li_other">
                                                <span v-if="searchHotList.clickNum">{{searchHotList.clickNum}}人在追</span>
                                                <strong>{{searchHotList.author}}</strong>
                                            </div>
                                        </div>
                                    </a>
                                    <!--<a :href="searchHotList.target" class="conter_li_a" v-if="$index>0">
                                        <h3 class="conter_li_a_h3">{{$index+1}}.{{searchHotList.bookName}}</h3>
                                    </a>-->
                                </li>
                            </ul>
                        </div>
                        
                    </div>
                    
                    
                </div>
            </div>
            <!--最近阅读-->
        </div>
        
    </div>


     


<div class="footer_box">
	<div class="footer_other_box">
    	<a href="/login/login.html" class="footer_other_left">登录</a>
    	<a href="book_shelf.html" class="footer_other_left">书架</a>
    </div>
    <div class="footer_info">
        <div class="footer_list_box">
        	<div class="index_ewm_right city_hide">
					    <div class="index_ewm_show index_position_content"><img src="/images/img/kkewm.jpg?20160730"></div>
					    <span>长按免费关注</span>
          </div>
        	<div class="footer_li">
				     <strong>工作时间：每天9:30-18:30</strong> <strong>客服电话：<a href="tel:4001180066" class="tel_color">4001180066</a></strong>
          </div>
        	<div class="footer_li">
				        客服QQ：1329139338 <strong>微信公众号：快看酱</strong> <strong>新浪微博：快看阅读</strong>
          </div>
        	<div class="footer_li">
				      ©2014-2016<a href="/" class="tel_color"> m.kkyd.cn</a>
          </div>
        </div>
    </div>
</div>



</template>



















<a href="javascript:;" class="return_top_but">回顶部</a>


</body>
</html>

<script type="text/javascript" src="/js/vue/vue.min.js?v20160731"></script>
<script type="text/javascript" src="/js/jq/jquery.lazyload.min.js?v20160731"></script>
<script type="text/javascript" src="/js/jq/touch-0.2.14.min.js?v20160731"></script>
<script type="text/javascript" src="/js/javascript/common.js?v20160731"></script>
<script type="text/javascript" src="/js/javascript/book_recently_read.js?v20160731"></script>