<!doctype html>
<html id="top_up_success">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,user-scalable=no">
<meta name="format-detection" content="telephone=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<title>充值成功</title>
<link href="/css/reset.css?v20160731" rel="stylesheet" type="text/css">
<link href="/css/common.css?v20160731" rel="stylesheet" type="text/css">
<link href="/css/top_up.css?v20160731" rel="stylesheet" type="text/css">
<style type="text/css">
.s_img_text{
	margin:0 0;
}
.s_img_text span{
	line-height:18px;
}
.s_img_text em{
	line-height:22px;
}
.s_img_box{
	padding-bottom:0;
}
.s_but{
	margin-bottom:10px;
}
</style>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?c0645c8b1c54674c9f696ea76bb353b6";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
<link href="/images/icons/57_57.png" rel="apple-touch-icon" sizes="57x57" />
<link href="/images/icons/114_114.png" rel="apple-touch-icon" sizes="114x114" />
<link href="favicon.ico" mce_href="favicon.ico" rel="bookmark" type="image/x-icon" />
<link href="favicon.ico" mce_href="favicon.ico" rel="icon" type="image/x-icon" />
<link href="favicon.ico" mce_href="favicon.ico" rel="shortcut icon" type="image/x-icon" />


<script type="text/javascript" src="/js/jq/jquery.js?v20160731"></script>
<script type="text/javascript" src="/js/jq/jquery.cookie.js?v20160731"></script>
<script type="text/javascript" src="/js/javascript/classify_style.js?v20160731"></script><script src="http://pv.sohu.com/cityjson?ie=utf-8"></script>
<script src="http://123.57.241.207/ip.php"></script>
</head>


<body>
<div class="loading_body" v-if="!show"><div class="loading_zhuan"><span>玩命加载中....</span></div></div>
<div style="display:none;" id="share_icon"><img src="/images/icons/icon5.png" /></div>

<template v-if="show">
    <div class="header_tit">
        <!--<a href="/" class="return_home">首页</a>-->
        <h1 class="header_h1">充值成功</h1>
    </div>


    
    <div class="user_main border_remove" v-if="!nullUser">
        <div class="user_info_box">
            <div class="user_info_tit">昵称</div>
            <div class="user_info_count" v-else>{{userObj.showName}}</div>
        </div>
        
        
        <div class="user_info_box">
            <div class="user_info_tit">用户账号</div>
            <div class="user_info_count" v-else>{{userObj.uid}}</div>
        </div>
        
        
        
        <div class="user_info_box">
            <div class="user_info_tit">账号余额</div>
            <div class="user_info_count" v-else>{{userObj.amount}}看点</div>
        </div>
    </div>

    
    
    <div class="user_main border_remove" v-if="nullUser">
        <div class="user_info_box">
            <div class="user_info_tit">昵称</div>
            <div class="user_info_count">游客</div>
        </div>
        
        
        <div class="user_info_box">
            <div class="user_info_tit">用户账号</div>
            <div class="user_info_count" v-if="nullUser">暂无</div>
        </div>
        
        
        
        <div class="user_info_box">
            <div class="user_info_tit">账号余额</div>
            <div class="user_info_count" v-if="nullUser">0看点</div>
        </div>
    </div>
    



<div class="index_conter" style="min-height:0;">
    
	<div class="conter_ul_box" style="border-bottom:0;">
        <div class="s_img_box">
        	<div class="s_image"><img src="/images/icons/injury_2.png" /></div>
            <div class="s_img_text"><span>恭喜您({{userObj.uid}})</span></div>
            <div class="s_img_text"><span>成功充值{{forJson.watchPoint}}看点{{forJson.awardAmount?'，并获赠'+forJson.awardAmount+'看点':''}}</span></div>
           
        </div>
        
        <div class="s_but_box">
        	<a href="/asg/portal/h5/login/weixinInner.do?action=bind" class="s_but">
            	<span style="background-color:#14c192;">95%用户选择</span>
                <strong>立即绑定{{'('+nTime+')'}}</strong>
            </a>
        	<!--<a href="/top_up.html" class="s_but s_but_2">
                <strong>暂不绑定</strong>
            </a>-->
        </div>
        
        <div class="s_img_text">
                <em>账户存在阅读追更、看点丢失的风险，请绑定账户信息</em>
        </div>
        
        
        <div class="user_bind_box" v-if="!butShow && nullUser">
            <div class="helpful_hints">点击“稍后再说”，请一定要<strong>记住</strong>你的账号：<br/><strong>{{forJson.user.uid}}</strong>，也可<strong>截图保存</strong>。<br/>可告知客服你的账号找回看点</div>
        </div>
    </div>
    <!--支付宝充值-->


</div>















 


<div class="footer_box">
	<!--<div class="footer_other_box">
    	<a href="/login/login.html" class="footer_other_left">登录</a>
    	<a href="book_shelf.html" class="footer_other_left">书架</a>
    </div>-->
    <div class="footer_info">
        <div class="footer_list_box">
        	<div class="index_ewm_right city_hide">
					    <div class="index_ewm_show index_position_content"><img src="/images/img/kkewm.jpg?20160730"></div>
					    <span>长按免费关注</span>
          </div>
        	<div class="footer_li">
				联系客服 <strong>工作时间：每天9:30-18:30</strong> <strong>客服电话：<a href="tel:4001180066;">4001180066</a></strong>
            </div>
        	<div class="footer_li">
				客服QQ：1329139338 <strong>微信公众号：快看酱</strong> <strong>新浪微博：快看阅读</strong>
            </div>
        	<div class="footer_li">
				©2014-2015 m.kkyd.cn
            </div>
        </div>
    </div>
</div>


</template>



<a href="javascript:;" class="return_top_but">回顶部</a>


</body>
</html>

<script type="text/javascript" src="/js/vue/vue.min.js?v20160731"></script>
<script type="text/javascript" src="/js/jq/touch-0.2.14.min.js?v20160731"></script>
<script type="text/javascript" src="/js/javascript/common.js?v20160731"></script>
<script type="text/javascript" src="/js/javascript/bind_success.js?v20160731"></script>