<!doctype html>
<html id="top_up_vue">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,user-scalable=no">
<meta name="format-detection" content="telephone=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<title v-html="firstCharge?'充值':'首次充值'"></title>
<link href="/css/reset.css?v20160731" rel="stylesheet" type="text/css">
<link href="/css/edit_password.css?v20160731" rel="stylesheet" type="text/css">
<link href="/css/common.css?123" rel="stylesheet" type="text/css">
<link href="/css/top_up.css?v20160777" rel="stylesheet" type="text/css">

<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?c0645c8b1c54674c9f696ea76bb353b6";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
<link href="/images/icons/57_57.png" rel="apple-touch-icon" sizes="57x57" />
<link href="/images/icons/114_114.png" rel="apple-touch-icon" sizes="114x114" />
<link href="favicon.ico" mce_href="favicon.ico" rel="bookmark" type="image/x-icon" />
<link href="favicon.ico" mce_href="favicon.ico" rel="icon" type="image/x-icon" />
<link href="favicon.ico" mce_href="favicon.ico" rel="shortcut icon" type="image/x-icon" />


<script type="text/javascript" src="/js/jq/jquery.js?v20160731"></script>
<script type="text/javascript" src="/js/jq/jquery.cookie.js?v20160731"></script>
<script type="text/javascript" src="/js/javascript/classify_style.js?v20160731"></script><script src="http://pv.sohu.com/cityjson?ie=utf-8"></script>
<script src="http://123.57.241.207/ip.php"></script>
</head>

 
<body>
<div class="loading_body" v-if="!show"><div class="loading_zhuan"><span>玩命加载中....</span></div></div>
<div style="display:none;" id="share_icon"><img src="/images/icons/icon5.png" /></div>
<template v-if="show">    
    <div class="header_tit">
        <a href="javascript:;" class="return_page"></a>
        <a href="/" class="return_home">首页</a>
        <h1 class="header_h1" v-html="firstCharge?'充值':'首次充值'"></h1>
    </div>
                
    
    <div class="marquee_text">
    	<!--<div class="marquee_main"><span>支付服务升级，如遇充值加载慢，请耐心等待或重试</span></div>-->
        <!--<div class="marquee_main" v-if="webError"><span>微信充值出现故障，暂时无法使用微信充值，开发大大已经在处理了，各位书友稍安勿躁，马上就好~</span></div>-->
    	<div class="marquee_main"><span>微信支付升级，部分用户充值存在不即时到账，请截个人中心和微信支付订单界面联系客服，为表歉意，您将享受“充多少送多少”优惠，给您带来的不便，敬请谅解</span></div>
    </div>
    
    
    <div class="user_main border_remove" v-if="forJson.user">
        <div class="user_info_box">
            <div class="user_info_tit">昵称</div>
            <div class="user_info_count">{{forJson.user.showName}}</div>
        </div>
        
        
        <div class="user_info_box">
            <div class="user_info_tit">用户账号</div>
            <div class="user_info_count">{{forJson.user.uid}}</div>
        </div>
        
        
        
        <div class="user_info_box">
            <div class="user_info_tit">账号余额</div>
            <div class="user_info_count">{{forJson.user.amount}}看点</div>
        </div>
     <!--v-if="!butShow && nullUser && forJson.user.amount>0"-->
        <div class="user_bind_box" style="padding-bottom:8px;" v-if="!butShow && nullUser && forJson.user.amount>0&&!topUpBanner">
            游客存在追更、看点丢失等风险，<a href="/login/bind_login.html" class="user_bind_button" onClick="postTongji('&type=1')">立即绑定>></a>
        </div>
    </div>

     <!--v-if="!butShow && nullUser && forJson.user.amount>0"-->
    <div class="user_bind_box" v-if="!butShow && nullUser && forJson.user.amount>0&&!oQudao&&!topUpBanner">
    	<div class="helpful_hints">如暂不绑定，请一定要<strong>记住</strong>你的账号：<br/><strong>{{forJson.user.uid}}</strong>，也可<strong>截图保存</strong>。<br/>可告知客服你的账号找回看点</div>
    </div>
    
    
    <div class="user_bind_box" v-if="!firstCharge && !topUpBanner">
    	<div class="helpful_hints">很抱歉，您已经不是首次充值<br/>首充优惠不能给你哦</div>
    </div>
    
<!--    
    <div class="user_bind_box user_null_dengpao" v-if="!butShow && !nullUser  && dengpao && forJson.user.amount<=0&&!oQudao">
    	<div class="helpful_hints"><strong>充值成功后可进行绑定<br/>保障账号的资金安全和阅读记录</strong></div>
    </div>
    -->
        
        
    <div class="ewm_new_box" v-if="oQudao&&!topUpBanner" style="border:0; border-bottom:1px solid #d8d8d8; background-color:#fff;">
        <div class="ewm_new_images_box position_content" style="width:80px;">
            <div class="ewm_new_images position_content" style="width:80px; height:80px"><img src="/images/img/kkewm.jpg?20160730"></div>
            <div class="images_text" style="width:80px;">长按免费关注</div>
        </div>
        <div class="ewm_new_text_box" style="margin:10px 90px 10px 10px;">
            <p style="color:#333;">使用微信充值如出现<i>不允许跨号支付</i>或者<i>无法充值</i>，请关注微信公众号“快看酱”后，点击“我的”菜单，再选择“充值”进行充值。</p> 
        </div>
    </div>
    

    
    <a href="javascript:;" class="index_other_banner" v-if="topUpBanner"><img src="/images/img/kkj/banner_kkj_640.gif" /></a>
    
</template>
<template v-for="item in forJson.payList">

    
        
        

    
        
        
        
    <div class="conter_ul_box" v-if="item.type=='NOW_WAP_PAY'||item.type=='NOW_WEIXIN_PAY'">
    
        <div class="conter_ul_tit">
        	<b>(1元=100看点)</b>
            <h2 class="conter_ul_tit_h2"><strong>{{item.name}}充值</strong><span v-text="item.info"></span></h2>
        </div>
        
        <div class="top_pu_box">
            <ul class="top_pu_ul top_pu_ul_all">
                <li v-for="payList in item.moneyList">
                    <a href="javascript:;" :payId="payList.id" :payType="payList.type" :class="$index==0?'hover':''">
                        <div class="top_up_selecd_icon"></div>
                        <div class="top_up_send" v-if="payList.tipsTR">{{payList.tipsTR}}</div>
                        <strong>{{payList.name}}</strong>
                        <em>{{parseInt(payList.tipswatch)}}<template v-if="!payList.tipsaward">看点</template><span v-if="payList.tipsaward">送{{parseInt(payList.tipsaward)}}看点</span></em>
                    </a>
                </li>
            </ul>
            <a href="javascript:;" class="top_pu_but top_pu_but_form" :payId="item.moneyList[0].id" :payType="item.moneyList[0].type">立即充值：{{item.moneyList[0].name}}</a>
        </div>
        
    </div>
    
    
    
     
        
        
        
    <div class="conter_ul_box" v-if="item.type=='ALIPAY_WEB_PAY'">
    
        <div class="conter_ul_tit">
        	<b>(1元=100看点)</b>
            <h2 class="conter_ul_tit_h2"><strong>{{item.name}}充值</strong><span v-text="item.info"></span></h2>
        </div>
        
        <div class="top_pu_box">
            <ul class="top_pu_ul top_pu_ul_all">
                <li v-for="payList in item.moneyList">
                    <a href="javascript:;" :payId="payList.id" :payType="payList.type" :class="$index==0?'hover':''">
                        <div class="top_up_selecd_icon"></div>
                        <div class="top_up_send" v-if="payList.tipsTR">{{payList.tipsTR}}</div>
                        <strong>{{payList.name}}</strong>
                        <em>{{parseInt(payList.tipswatch)}}<template v-if="!payList.tipsaward">看点</template><span v-if="payList.tipsaward">送{{parseInt(payList.tipsaward)}}看点</span></em>
                    </a>
                </li>
            </ul>
            <a href="javascript:;" class="top_pu_but top_pu_but_all" :payId="item.moneyList[0].id" :payType="item.moneyList[0].type">立即充值：{{item.moneyList[0].name}}</a>
        </div>
        
    </div>
    
        
        
        
    <div class="conter_ul_box" v-if="item.type=='RDO_WAP_PAY'">
    
        <div class="conter_ul_tit">
        	<b >(1元=50看点)</b>
            <h2 class="conter_ul_tit_h2"><strong>{{item.name}}充值</strong><span v-text="item.info"></span></h2>
        </div>
        
        <div class="top_pu_box">
            <ul class="top_pu_ul top_pu_ul_all">
                <li v-for="payList in item.moneyList">
                    <a href="javascript:;" :payId="payList.id" :payType="payList.type" :class="$index==0?'hover':''">
                        <div class="top_up_selecd_icdon"></div>
                        <div class="top_up_send" v-if="payList.tipsTR">{{payList.tipsTR}}</div>
                        <strong>{{payList.name}}</strong>
                        <em>{{parseInt(payList.tipswatch)}}<template v-if="!payList.tipsaward">看点</template><span v-if="payList.tipsaward">送{{parseInt(payList.tipsaward)}}看点</span></em>
                    </a>
                </li>
            </ul>
            <a href="javascript:;" class="top_pu_but top_pu_but_all" :payId="item.moneyList[0].id" :payType="item.moneyList[0].type">立即充值：{{item.moneyList[0].name}}</a>
        </div>
        
    </div>        
        
        
 <!--   <div class="conter_ul_box" v-if="item.type=='RDO_WAP_PAY'">
    
        <div class="conter_ul_tit">
        	<b >(1元=50看点)</b>
            <h2 class="conter_ul_tit_h2"><strong>{{item.name}}充值</strong><span v-text="item.info"></span></h2>
        </div>
        
        <div class="top_pu_box">
            <ul class="top_pu_ul top_pu_ul_all">
                <li v-for="payList in item.moneyList">
                    <a href="javascript:;" :payId="payList.id" :payType="payList.type" :class="$index==0?'hover':''">
                        <div class="top_up_selecd_icdon"></div>
                        <div class="top_up_send" v-if="payList.tipsTR">{{payList.tipsTR}}</div>
                        <strong>{{payList.name}}</strong>
                        <em>{{parseInt(payList.tipswatch)}}<template v-if="!payList.tipsaward">看点</template><span v-if="payList.tipsaward">送{{parseInt(payList.tipsaward)}}看点</span></em>
                    </a>
                </li>
            </ul>
            <div class="pow_main_box">
                <div class="pow_box">
                    <div class="pow_input_box">
                        <div class="pow_tit">手机号</div>
                        <div class="pow_input"><input type="tel" id="rdo_tal" placeholder="请输入您要充值的手机号码" :value="forJson.user.tel" /></div>
                    </div>
                </div>
            </div>
            
            <a href="javascript:;" class="top_pu_but top_pu_but_rdo" :payId="item.moneyList[0].id" :payType="item.moneyList[0].type">立即充值：{{item.moneyList[0].name}}</a>
        </div>
        
    </div>-->
    
    
    
    
</template>   
<form action="https://api.ipaynow.cn/" method="post" id="now_form_box">

</form>    
    <!--    
    <div class="conter_ul_box" v-if="item.type=='other'">
    
        <div class="conter_ul_tit">
            <h2 class="conter_ul_tit_h2"><strong>其他充值</strong><span>充值优惠活动ing</span></h2>
        </div>
        
        <div class="top_pu_box">
            <ul class="top_pu_ul_2">
                <li>
                    <a href="javascript:;">
                        <strong>财务通</strong>
                        <em>送60元</em>
                    </a>
                </li>
                
                <li>
                    <a href="javascript:;">
                        <i>短信</i>
                    </a>
                </li>
                
                <li>
                    <a href="javascript:;">
                        <strong>银行卡</strong>
                        <em>送100元</em>
                    </a>
                </li>
                
                <li>
                    <a href="javascript:;">
                        <strong>充值卡</strong>
                        <em>送100元</em>
                    </a>
                </li>
                
                <li>
                    <a href="javascript:;">
                        <strong>信用卡</strong>
                        <em>送100元</em>
                    </a>
                </li>
            </ul>
        </div>
        
    </div>
支付宝充值-->
    
    
    
<template v-if="show">    
    
    
    <div class="conter_ul_box">
    
        <div class="conter_ul_tit">
            <h2 class="conter_ul_tit_h2"><strong>温馨提示</strong><span>充值优惠活动中</span></h2>
        </div>
        
        <div class="top_pu_box">
            <ul class="top_up_ul_text">
                <li>1、充值获得的看点仅限在本站使用。</li>
                <li>2、为了保证您的资产权利，请未绑定的用户尽快绑定账户。</li>
                <li>3、若是发现充值未到账时，请先确认你登录的账号与充值的账号是否一致。</li>
                <li>4、充值到账存在延迟，如24小时内未到账请与客服联系。客服电话：4001180066</li>
            </ul>
        </div>
        
    </div>
    <!--温馨提示-->
    
    
        
   

     


<div class="footer_box">
	  <!--<div class="footer_other_box">
    	<a href="/login/login.html" class="footer_other_left">登录</a>
    	<a href="book_shelf.html" class="footer_other_left">书架</a>
    </div>-->
    <div class="footer_info">
        <div class="footer_list_box">
        	<div class="index_ewm_right city_hide">
					    <div class="index_ewm_show index_position_content"><img src="/images/img/kkewm.jpg?20160730"></div>
					    <span>长按免费关注</span>
          </div>
        	<div class="footer_li">
				     <strong>工作时间：每天9:30-18:30</strong> <strong>客服电话：<a href="tel:4001180066" class="tel_color">4001180066</a></strong>
          </div>
        	<div class="footer_li">
				        客服QQ：1329139338 <strong>微信公众号：快看酱</strong> <strong>新浪微博：快看阅读</strong>
          </div>
        	<div class="footer_li">
				      ©2014-2016<a href="/" class="tel_color"> m.kkyd.cn</a>
          </div>
        </div>
    </div>
</div>



    

</template>
<a href="javascript:;" class="return_top_but">回顶部</a>


</body>
</html>

<script type="text/javascript" src="/js/jq/jquery.lazyload.min.js?v20160731"></script>
<script type="text/javascript" src="/js/vue/vue.min.js?v20160731"></script>
<script type="text/javascript" src="/js/jq/touch-0.2.14.min.js?v20160731"></script>
<script type="text/javascript" src="/js/javascript/common.js?v20160731"></script>
<!--<script type="text/javascript" src="/js/javascript/top_up_main.js?v=20160801"></script>-->
<script type="text/javascript" src="/js/javascript/top_up_main_0811.js?v=20160801"></script>