@charset "utf-8";
/* CSS Document 综合*/
.add_favorites,
.conter_li_other span,
.footer_other_left,
.index_recently_read .index_recently_read_a{
	color:#319e06;
}


.head_tab_but_box,
.conter_list_tab_box a.hover,
.header_tit,
.ranking_classify_list_tab_box .hover,
.user_esc_box  a.red,
.top_pu_but,
.began_read,
.next_btn,
.set_box span,
.set_box a,
.s_but{
	background-color:#d2a028;
}

.conter_list_tab_box a,
.ranking_head_tab_box .hover,
.ranking_classify_list_tab_box a span,
.add_book_sheft_style{
	color:#d2a028;
}


.conter_ul_tit_h2{
	background-image:url(/images/icons/h_border_2.gif);
}



.conter_list_tab_box a,
.conter_list_tab_box,
.ranking_head_tab_box .hover,
.ranking_classify_list_tab_box,
.ranking_classify_list_tab_box a span,
.began_read,
.add_book_sheft_style,
.head_tab_but_box a{
	border-color:#d2a028;
}

/*书架*/
.book_shelft_edit_box .total_book_num,
.book_shelft_edit_box .book_shelft_edit,
.book_shelft_edit_box .book_shelft_over{
	color:#d2a028;
}
.book_shelft_edit_box .book_shelft_edit,
.book_shelft_edit_box .book_shelft_over{
	border: 1px solid #d2a028;
}

.book_shelft_null_main .book_shelf_null_but{
	color:#d2a028;
	border: 1px solid #d2a028;
}



.conter_ul_tit .conter_ul_tit_more{
	color:#d2a028;
}
.conter_list_more_but span{
	color:#d2a028;
}
.book_abstract_but,
.book_abstract_but_2{
	color:#d2a028;
}

/*书籍详情*/
.book_abstract_but{
	background-image: url(/images/icons/down_center.png?456);
}

.book_abstract_but_2{
	background-image: url(/images/icons/up_center.png?456);
}

/*箭头*/
.conter_ul_tit_more{
	background-image:url(/images/icons/next_center.png?456) ;
}
.conter_list_more_but span{
	background-image:url(/images/icons/next_center.png?456);
}
/*自动订阅*/
.subscribe_edit_box a{
	color: #d2a028;
	border: 1px solid #d2a028;
}

















